.calendar {
    width: 100%;
    padding: 35px 40px;
}

#third_lower_row .right_block .calendar .button-container-calendar{
    height: 4rem;
}

.button-container-calendar button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.table-calendar {
    width: 100%;
}

.table-calendar td, .table-calendar th {
    text-align: center;
    color: white;
    padding-top: 1rem;
}

.data-day {
    padding-top: 2rem;
    color: white;
}

#monthAndYear {
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#previous, #next {
    outline: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previous {
    float: left;
    margin-top: -1rem;
    width: 0;
    height: 0;
    content: "";
    border-top: 0.3rem solid transparent;
	border-right: 0.6rem solid white;
	border-bottom: 0.3rem solid transparent;
}

#next {
    float: right;
    margin-top: -1rem;
    width: 0;
    height: 0;
    content: "";
    border-top: 0.3rem solid transparent;
	border-left: 0.6rem solid white;
	border-bottom: 0.3rem solid transparent;
}

.footer-container-calendar {
    display: none;
}
